version: 2
jobs:
  build:
    docker:
      - image: oniman999/pluralsight-docker-ci # < an arbitrarily chosen docker image.
    steps:
      - checkout
      - run:
          # example curl request from dockerhub documentation
          name: Trigger docker remotely
          command: curl --request POST --header Content-Type:application/json --data {"build":true} --url https://hub.docker.com/api/build/v1/source/a2a3e4b0-a184-40a9-8dd3-5b7df91b8361/trigger/2a760165-8543-4691-bbdf-4c351becc66c/call/

          
          #testy testy